html {
  background-color: black;
}

/* maintain 1280x720 aspect ratio */
#unityContainer {
  width: 100vw;
  height: 56.25vw;
}


@media only screen and (min-width: 1280px) and (min-height: 720px)
{
  #unityContainer {
    width: 1280px;
    height: 720px;
  }
}

/*@media only screen and (max-width: 320px), (max-height: 180px)
{
  #unityContainer {
    width: 1280px;
    height: 720px;
  }
}*/

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
